<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>


  <div class="register" *ngIf="cadastroFlag === true">
    <form (ngSubmit)="onSubmit()">
      <h2>Register</h2>

      <label for="email">E-mail:</label>
      <input type="email" placeholder="E-mail" id="email" required [(ngModel)]="user.email" name="email">

      <label for="password">Password:</label>
      <div class="input-group">
        <input id="passInput" type="{{ mostrarSenha ? 'text' : 'password' }}" placeholder="Password" id="password"
          required [(ngModel)]="user.password" name="password">
        <button id="pass" type="button" (click)="toggleMostrarSenha()">
          <i class="far {{ mostrarSenha ? 'fa-eye-slash' : 'fa-eye' }}"></i>
          {{ mostrarSenha ? 'Hide' : 'Show' }} Password
        </button>
      </div>

      <label for="nome">First Name:</label>
      <input type="text" placeholder="First Name" id="firstName" [(ngModel)]="user.firstName" name="firstName" required>

      <label for="nome">Last Name:</label>
      <input type="text" placeholder="Last Name" id="lastName" [(ngModel)]="user.lastName" name="lastName" required>


      <label for="empresa1">Job Experience #1:</label>
      <input type="text" placeholder="Job title" id="exp1" [(ngModel)]="user.exp1" name="exp1" required>

      <label for="exp1">Company #1:</label>
      <input type="text" placeholder="Company name" id="empresa1" [(ngModel)]="user.empresa1" name="empresa1" required>

      <label for="period1">Period #1:</label>
      <input type="text" placeholder="Time spent" id="period1" [(ngModel)]="user.period1" name="period1" required>



      <label for="empresa2">Job Experience #2:</label>
      <input type="text" placeholder="Job title" id="exp2" [(ngModel)]="user.exp2" name="exp2" required>

      <label for="exp2">Company #2:</label>
      <input type="text" placeholder="Company name" id="empresa2" [(ngModel)]="user.empresa2" name="empresa2" required>

      <label for="period2">Period #2:</label>
      <input type="text" placeholder="Time spent" id="period2" [(ngModel)]="user.period2" name="period2" required>


      <label for="empresa3">Job Experience #3:</label>
      <input type="text" placeholder="Job title" id="exp3" [(ngModel)]="user.exp3" name="exp3" required>

      <label for="exp3">Company #3:</label>
      <input type="text" placeholder="Company Name" id="empresa3" [(ngModel)]="user.empresa3" name="empresa3" required>

      <label for="period3">Period #3:</label>
      <input type="text" placeholder="Time spent" id="period3" [(ngModel)]="user.period3" name="period3" required>

      <label for="acaTit1">Academic Title #1:</label>
      <input type="text" placeholder="Academic Title" id="acaTit1" [(ngModel)]="user.acaTit1" name="acaTit1" required>

      <label for="acaCon1">Year of Conclusion #1:</label>
      <input type="text" placeholder="Year of Conclusion" id="acaCon1" [(ngModel)]="user.acaCon1" name="acaCon1" required>

      <label for="acaTit2">Academic Title #2:</label>
      <input type="text" placeholder="Academic Title" id="acaTit2" [(ngModel)]="user.acaTit2" name="acaTit2" required>

      <label for="acaCon2">Year of Conclusion #2:</label>
      <input type="text" placeholder="Year of Conclusion" id="acaCon2" [(ngModel)]="user.acaCon2" name="acaCon2" required>

      <label for="lan1">Language #1:</label>
      <input type="text" placeholder="Language" id="lan1" [(ngModel)]="user.lan1" name="lan1" required>

      <label for="lanLv1">Level of Language #1:</label>
      <input type="text" placeholder="Level of Language" id="lanLv1" [(ngModel)]="user.lanLv1" name="lanLv1" required>

      <label for="lan2">Language #2:</label>
      <input type="text" placeholder="Language" id="lan2" [(ngModel)]="user.lan2" name="lan2" required>

      <label for="lanLv2">Level of Language #2:</label>
      <input type="text" placeholder="Level of Language" id="lanLv2" [(ngModel)]="user.lanLv2" name="lanLv2" required>


      <label for="hardSkl1">Hard Skill #1:</label>
      <input type="text" placeholder="Hard Skill" id="hardSkl1" [(ngModel)]="user.hardSkl1" name="hardSkl1" required>

      <label for="hardSkl2">Hard Skill #2:</label>
      <input type="text" placeholder="Hard Skill" id="hardSkl2" [(ngModel)]="user.hardSkl2" name="hardSkl2" required>

      <label for="hardSkl3">Hard Skill #3:</label>
      <input type="text" placeholder="Hard Skill" id="hardSkl3" [(ngModel)]="user.hardSkl3" name="hardSkl3" required>

      <label for="softSkl1">Soft Skill #1:</label>
      <input type="text" placeholder="Soft Skill" id="softSkl1" [(ngModel)]="user.softSkl1" name="softSkl1" required>

      <label for="softSkl2">Soft Skill #2:</label>
      <input type="text" placeholder="Soft Skill" id="softSkl2" [(ngModel)]="user.softSkl2" name="softSkl2" required>

      <label for="softSkl3">Soft Skill #3:</label>
      <input type="text" placeholder="Soft Skill" id="softSkl3" [(ngModel)]="user.softSkl3" name="softSkl3" required>


      <label for="dataNascimento">Date of Birth:</label>
      <input type="date" id="date" name="date" required>

      <label for="genero">Gender:</label>
      <select id="genero" name="genero" required>
        <option value="" disabled selected>Select</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
      <p class="createAccount">Already registered? <a (click)="inverteFlag()">Log-in.</a></p>

      <button type="submit">Register</button>
    </form>
  </div>



  <div class="login" *ngIf="cadastroFlag === false">
    <form (ngSubmit)="login()">
      <h2>Log-in</h2>

      <label for="email">E-mail:</label>
      <input type="email" placeholder="E-mail" id="emailLogin" required [(ngModel)]="loginUser.email" name="emailLogin">

      <label for="password">Password:</label>
      <div class="input-group">
        <input type="{{ mostrarSenha ? 'text' : 'password' }}" type="password" placeholder="Password" id="passwordLogin"
          required [(ngModel)]="loginUser.password" name="passwordLogin">
        <button id="pass" type="button" (click)="toggleMostrarSenha()">
          <i class="far {{ mostrarSenha ? 'fa-eye-slash' : 'fa-eye' }}"></i>
          {{ mostrarSenha ? 'Hide' : 'Show' }} Password
        </button>
      </div>

      <p class="createAccount">New user? <a (click)="inverteFlag()">Register here.</a></p>
      <button type="submit">Login</button>
    </form>
  </div>
</body>
