@import url("https://fonts.googleapis.com/css?family=Montserrat");

:root {
  --darkest-blue: #1a237e;
  --darker-blue: #283593;
  --dark-blue: #303f9f;
  --medium-blue: #3949ab;
  --light-blue: #3f51b5;
  --lighter-blue: #5c6bc0;
  --lightest-blue: #9fa8da;
  --white: #ffffff;
  --black: #0e1442;
  --orange: #ffb300;
  --yellow: #fdd835;
}

.work,
.education {
  width: 100%;
  background: #2D2C3E;
  padding: 15px;
  margin: 0 4% 15px 0;
  border-radius: 8px;
}

.work ul li,
.education ul li {
  position: relative;
  margin-left: 15px;
  padding-left: 25px;
  padding-bottom: 15px;
  color: white;
}

.work ul li span,
.work ul li small span,
.education ul li span,
.education ul li small span {
  color: #ffffff;
  transition-duration: 0.3s;
}

.work ul li:hover::before,
.education ul li:hover::before {
  animation: circle 1.2s infinite;
}

.work ul li:hover span,
.education ul li:hover span {
  color: #1AC0A8;
}

.work ul li:first-of-type::before,
.education ul li:first-of-type::before {
  width: 10px;
  height: 10px;
  left: 1px;
}

.work ul li:last-of-type:after,
.education ul li:last-of-type:after {
  border-radius: 1.5px;
}

.work ul li::before,
.education ul li::before {
  content: "";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border: 3px solid #ffffff;
  background: #1AC0A8;
  border-radius: 50%;
  left: 3px;
  z-index: 1;
}

.work ul li::after,
.education ul li::after {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 100%;
  background: #ffffff;
  left: 5px;
  top: 0;
}

h2 {
  padding: 10vh 0 0 6vh;
  margin-bottom: 5vh;
  color: white;
  font-size: 10vh;
  height: auto;
}
.education ul li:last-of-type {
  padding-bottom: 3px;
  &:after {
    border-radius: 1.5px;
  }
}

.func {
  width: 100%;
  padding: 30px;
  padding-bottom: 10vh;
  background-color: #1AC0A8;
  display: flex;
}

.funcL {
  width: 100%;
  padding: 0 30px 10vh 30px;
  background-color: #1AC0A8;
  display: flex;
}

.progress-container {
  width: 300px;
  height: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #1AC0A8;
  border-radius: 10px;
  transition: width 0.5s ease-in-out;
}

.fifty-percent {
  width: 80%;
}

.completed {
  width: 100%;
  background-color: #42535D;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #1AC0A8;
  cursor: default;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  transition-duration: 0.3s;
}

ul {
  list-style-type: none;
  padding: 0;
}

h3 {
  color: #f0f0f0;
  margin: 10px 0;
  text-transform: lowercase;
  font-size: 1.25em;
}

@keyframes circle {
  from {
    box-shadow: 0 0 0 0px #f0f0f0;
  }
  to {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
  }
}
