<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div class="func">

    <div class="work">
      <h3><i class="fa fa-briefcase"></i>Experience</h3>
      <ul>
        <li><span>{{loggedUser?.exp1}}</span><br><small>{{loggedUser?.empresa1}} - </small><small>{{loggedUser?.period1}}</small></li>
        <li><span>{{loggedUser?.exp2}}</span><br><small>{{loggedUser?.empresa2}} - </small><small>{{loggedUser?.period2}}</small></li>
        <li><span>{{loggedUser?.exp3}}</span><br><small>{{loggedUser?.empresa3}} - </small><small>{{loggedUser?.period3}}</small></li>
      </ul>
    </div>

    <div class="education">
      <h3><i class="fa fa-briefcase"></i>Academic Background</h3>
      <ul>
        <li><span>{{loggedUser?.acaTit1}}</span><br>
          <small>Conclusion in {{loggedUser?.acaCon1}}</small>
          <div class="progress-container">
            <div class="progress-bar fifty-percent"></div>
          </div>
        </li>
        <li>
          <span>{{loggedUser?.acaTit2}}</span><br>
          <small>Conclusion in {{loggedUser?.acaCon2}}</small>
          <div class="progress-container">
            <div class="progress-bar completed"></div>
          </div>
        </li>
      </ul>
    </div>

    <div class="work">
      <h3><i class="fa fa-briefcase"></i>Languages</h3>
      <ul>
        <li><span>{{loggedUser?.lan1}}</span><br><small>{{loggedUser?.lanLv1}}</small></li>
        <li><span>{{loggedUser?.lan2}}</span><br><small>{{loggedUser?.lanLv2}}</small></li>
      </ul>
    </div>

  </div>

  <div class="func">

    <div class="work">
      <h3><i class="fa fa-briefcase"></i>Hard Skills</h3>
      <ul>
        <li><span>{{loggedUser?.hardSkl1}}</span></li>
        <li><span>{{loggedUser?.hardSkl2}}</span></li>
        <li><span>{{loggedUser?.hardSkl3}}</span></li>
      </ul>
    </div>

    <div class="work">
      <h3><i class="fa fa-briefcase"></i>Soft Skills</h3>
      <ul>
        <li><span>{{loggedUser?.softSkl1}}</span></li>
        <li><span>{{loggedUser?.softSkl2}}</span></li>
        <li><span>{{loggedUser?.softSkl3}}</span></li>
      </ul>
    </div>

  </div>

</body>
